header{
     background: linear-gradient(to right, #0cbaba, #380036, darksalmon);
     position:sticky;
     top:0;
     z-index:999999999;
     
}
main{
     background: linear-gradient(to right, darksalmon, #0cbaba, #380036);
}
.bg-0{
     
     background:#0482dd;

}
.bg-1{
     background: linear-gradient(to right, #0cbaba, #380036);
     
     
}
.bg-2{
     background: radial-gradient(circle at top left, #23EC05, #D712C5);
}
.bg-3{
     background: radial-gradient(circle at top left, #f80c04, #2004fb);
}
.bg-4{
     background: radial-gradient(circle at top left, #f9e000, #ea540a);
}
.blockquote-section{
     box-shadow:0px 10px 10px 0px solid gray;
}
.sh{
     box-shadow:0px 5px 5px 5px rgb(94, 92, 92) !important;
}
